* {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
div.allcomponent {
  background-image: url("../assets/photo/background_body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  text-align: center;
}

h2.title {
  text-align: center;
  text-shadow: 3px 3px 3px #000000;
  color: white;
  padding-top: 80px;
  height: 100px;
}

img {
  width: 80px;
  height: 80px;
  border: 1px solid darkslateblue;
  box-shadow: 2px 2px 2px darkslateblue;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.user-info{
  text-align: left;
  position: relative;
  top: 0;
  left: 15%;
}

div.data-users {
  position: relative;
  border-radius: 30px;
  background-color: #ffff90;
  width: 24%;
  height: 60%;
  margin: 0 auto 30px auto;
  box-shadow: 4px 4px 4px 4px #000000;
}

div.data-users small {
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  /*text-shadow: 2px 2px 2px darkslateblue;*/
}

div.data-users span {
  color: #000000;
  font-size: 13px;
  font-weight: bolder;
}
