* {
  font-family: 'Open Sans', sans-serif;
}

h4.title {
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  color: blue;
}

img.avatar {
  width: 80px;
  height: 80px;
}

div.data-users {
  position: relative;
  left: 30%;
}

div.data-users small {
  font-size: 14px;
  font-weight: normal;
}

div.data-users span {
  font-size: 16px;
  font-weight: bolder;
}
